
.display-1 {
    color: blueviolet;
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-transform: capitalize;
}


.bi-balloon-heart {
    font-size: 180px;
    color: tomato;
}